<%- include layout.ejs %>

<div class="container">

	<h1>Login</h1>

	<a href="/auth/facebook" class="btn btn-lg btn-primary"><span class="fa fa-facebook icon"></span> Login with Facebook</a>

</div>
</body>
</html>